
NEXT_PUBLIC_BASE_URL=http://localhost:3000/

# Public-facing Firebase values can be found in Firebase project settings -> General -> Web app -> Config
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id
NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project-id.firebaseapp.com

# Firebase project settings -> Service accounts -> Generate new admin key (will revoke the old keys!)
# This will download a JSON file; take the values from "client_email" and "private_key". Use \n for line breaks
FIREBASE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nThis_is\n_Your_Private\n_Key\n-----END PRIVATE KEY-----\n"

# Turnstile test keys can be found in https://developers.cloudflare.com/turnstile/troubleshooting/testing/#test-sitekeys
# Real keys are found in Cloudflare Turnstile dashboard
NEXT_PUBLIC_TURNSTILE_SITEKEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

EMAIL_USER=support@example.com
EMAIL_PASS=your SMTP password
CLOUDINARY_SECRET=secret_key_from_cloudinary
GROQ_API_KEY=api_key_from_groq
